<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DESKTOP-2HFRPRB" connectionString="Data Source=.;Initial Catalog=Parcial3;Trusted_Connection = True; MultipleActiveResultSets = true"/>
	</connectionStrings>
</configuration>